<header class="l-header j-header">
  <div class="l-header_logo">
    <a href="">
      <picture>
        <sorce media="(max-width:768px)" srcset="../assets/img/logo_02.svg">
          <img src="../assets/img/logo_02.svg" alt="MOVE" width="160" height="33.77">
      </picture>
    </a>
  </div><!-- /.l-header -->

  <div class="l-header_pageTitle">TOP</div><!-- /.l-header_pageTitle -->
  <button class="l-header_btn j-header_btn">
    <div class="l-header_btn_humburger">
      <span></span>
      <span></span>
      <span></span>
    </div><!-- /.l-header_btn_humburger -->

    <div class="l-header_btn_text_pc">
      <div class="l-header_btn_text_inner">
        <span>MENU</span>
        <span>CLOSE</span>
      </div><!-- /.l-header_btn_text_inner -->
    </div><!-- /.l-header_btn_text_pc -->
  </button>

  <nav class="l-header_nav">
    <ul class="l-header_nav_inner">
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#">TOP</a></li><!-- /.l-header_nav_cmn -->
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#">ABOUT</a></li><!-- /.l-header_nav_cmn -->
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#">SERVICE</a></li><!-- /.l-header_nav_cmn -->
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#">WORKS</a></li><!-- /.l-header_nav_cmn -->
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#">NEWS</a></li><!-- /.l-header_nav_cmn -->
      <li class="l-header_nav_cmn"><a class="j-header_link" href="#">CONTACT</a></li><!-- /.l-header_nav_cmn -->
    </ul><!-- /.l-header_nav_inner -->
  </nav>

</header>
